.dimensions-selector, .graph-data {
    position: absolute;
    top: 0;
    padding: 5px;
    color: slategrey;
}

.dimensions-selector {
    left: 0;
}

.graph-data {
    right: 0;
}

.toggle-data-btn {
    cursor: pointer;
    opacity: 0.85;
}

.toggle-data-btn:hover {
    opacity: 1;
}

#graph-data-description {
    font-size: 12px;
    color: slategrey;
}
