<html>
    <head>
      <title>The Visual Net</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
      <script type="text/javascript" src="/static/d3.v2.js"></script>
      <link type="text/css" rel="stylesheet" href="/static/force.css"/>
    </head>
    <body>
        <div class="ui container">
        <div class="ui basic segment"></div>
        <h1 class="ui header"><a href="/index">Home</a></h1>
        <hr>
        <div class="ui basic segment"></div>
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
